.banners-below-nav-wrapper {
  background: #F1F1F1;
  height: 50px;
  padding: 5px 0;
  display: flex;
  .col-3 {
    width: 33.333%;
    text-align: center;
    border-right: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:last-child {
      border-right: none;
    }
  }
  .banner-below-nav-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    a {
      text-decoration: underline;
      color: #000000;
    }
  }
  .banner-below-nav-subtitle {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.two-banners {
  a {
    display: block;
    img {
      display: block;
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.tabs-slider {
  .container {
    margin: 0 auto;
    display: block;
  }
  .tab-buttons {
    border-top: 1px solid #B2B2B2;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    a {
      padding: 2px 15px;
      margin: 10px 0;
      display: block;
      text-decoration: none;
      color: #b2b2b2;
      font-size: 14px;
      border-right: 1px solid #B1B1B1;
      &.active {
        color: #000;
        font-weight: 700;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .item {
    img {
      margin: 0 auto;
    }
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #eee;
    background: #fff;
    height: 46px;
    width: 41px;
    z-index: 9;
    opacity: 0.7;
    transition: all 0.1s ease;
    &.prev {
      left: 15px;
    }
    &.next {
      right: 15px;
    }
    &:hover {
      opacity: 1;
    }
  }
  .icon-menu-arrow-left {
    font-size: 14px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    &:before {
      content: "";
      font-family: icons!important;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
    }
  }
  .icon-menu-arrow-right {
    font-size: 14px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    &:before {
      content: "";
      font-family: icons!important;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
    }
  }
}
.blog-posts {
  position: relative;
  padding: 25px 40px;
  background: #ececec;
  text-align: center;
  letter-spacing: initial;
  .footer-container {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .posts-header {
    p {
      font-size: 12px;
    }
  }
  .posts-logo {
    height: 90px;
    margin: 10px 0;
    img {
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }
  .post-list {
    display: flex;
    margin: 0 -40px;
    .post-tile {
      padding: 0 20px;
      display: block;
      width: 25%;
      color: #000000;
      text-decoration: none;
    }
    .post-image {
      height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 15px;
    }
    h2 {
      margin: 15px 0 6px;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  .post-excerpt {
    padding: 0 2px 20px;
    font-size: 12px;
    p {
      margin: 0;
    }
  }
}
footer {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  padding: 40px 0 44px;
  .footer-copy-wrapper,
  .footer-navigation-wrapper {
    display: flex;
    padding: 0 10px 15px 10px;
    width: 97%;
    margin: 0 auto;
  }
  .accordion-item {
    width: 18%;
  }
  h5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 25px 0;
  }
  .vertical-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 13px;
    li {
      margin-bottom: 10px;
    }
    a {
      color: #000000;
      text-decoration: none;
    }
  }
  .subscribe-form {
    flex-grow: 1;
  }
  .newsletter-form-group {
    position: relative;
    width: 100%;
    .error {
      position: absolute;
      top: 100%;
      width: calc( 100% - 155px );
      margin: 0;
      padding: 10px;
      font-size: 13px;
      background: #000;
      color: #fff;
      word-wrap: break-word;
      display: none;
    }
  }
  .newsletter-form {
    margin-bottom: 20px;
  }
  .newsletter-form-btn {
    font-weight: 700;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: normal;
    letter-spacing: .6px;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    width: 155px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.1s ease-out;
    &:hover {
      background-color: #333;
    }
  }
  .newsletter-form-field {
    height: 36px;
    background-color: #eee;
    text-transform: uppercase;
    border: none;
    font-size: 11px;
    padding: 12px 155px 12px 14px;
    width: 100%;
  }
  .social-wrap {
    font-family: "FontAwesome";
    a {
      font-size: 33px;
      color: #000000;
      text-decoration: none;
      margin-right: 8px;
      transition: all 0.1s ease-out;
      &:hover {
        color: #808080;
      }
      i {
        font-style: normal;
      }
    }
  }
  .footer-copy-wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .payment {
    height: 22px;
    img {
      display: block;
      height: 100%;
    }
  }
}