.account-login-wrapper {
  padding: 18px 0 85px 0;
  &.page-content {
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    max-width: 1358px;
    margin-bottom: 10px;
    min-height: 200px;
  }
  h1 {
    font-size: 24px;
    margin: 0 0 30px;
  }
  .login-popup-title {
    font-weight: 700;
    margin-bottom: 26px;
    padding: 15px;
    font-size: 12px;
    letter-spacing: 1px;
    background: #fafafa;
    margin-top: 0;
  }
  .cols {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .col-2 {
      padding: 0;
      width: 49%;
    }
  }
  .login-box-content {
    padding: 0 30px;
    .form-group {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
    }
    label {
      width: 100%;
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 700;
    }
    .regular-input {
      width: 100%;
      display: block;
      border-radius: 0;
      border: 1px solid #aaa;
      color: #000;
      font-size: 12px;
      padding: 12px 14px;
    }
    .help-block {
      display: block;
      margin: 0;
      padding: 10px;
      font-size: 13px;
      background: #000;
      color: #fff;
      word-wrap: break-word;
      width: 100%;
    }
  }
  .password-reset-wrapper {
    margin: 4px 0 30px;
    text-align: right;
  }
  .password-reset {
    white-space: nowrap;
    color: gray;
    font-size: 12px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .form-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .remember-me {
    label {
      display: flex;
      align-items: center;
    }
  }
  .login-page-button {
    width: 280px;
    font-weight: 700;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 12px;
    line-height: normal;
    letter-spacing: .6px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #333;
    }
  }
  p {
    font-size: 12px;
    margin: 12px 0;
  }
  .register-link {
    width: 280px;
    font-weight: 700;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 12px;
    line-height: normal;
    letter-spacing: .6px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    margin-left: auto;
    &:hover {
      background-color: #333;
    }
  }
}