.form-wrapper {
  max-width: 680px;
  margin: 30px auto 0;
  .section-header {
    font-weight: 700;
    border: 0;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #fafafa;
    margin-bottom: 30px;
  }
  .form-box {
    padding: 0 30px;
  }
  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    label {
      display: block;
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 700;
      width: 100%;
    }
    select {
      background-color: #fff;
      width: 100%;
      height: 40px;
      border: 1px solid #aaa;
      font-size: 12px;
      padding: 0 22px 0 10px;
      cursor: pointer;
    }
  }
  .regular-input {
    border-radius: 0;
    border: 1px solid #aaa;
    color: #000;
    font-size: 12px;
    padding: 12px 14px;
    width: 100%;
  }
  .help-block {
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 13px;
    background: #000;
    color: #fff;
    word-wrap: break-word;
    width: 100%;
  }
  .birth-date {
    select {
      width: auto;
    }
  }
  .select-wrap {
    flex-grow: 1;
  }
  .month-wrap {
    padding: 0 20px;
  }
}