@media (max-width: 1024px) {
  header {
    padding: 10px 20px;
    .main-navigation {
      .menu-category {
        .has-submenu {
          margin: 0 10px;
        }
      }
      .level-2 {
        padding: 15px 10px 15px 10px;
        h3 {
          margin: 7px 0;
          padding-bottom: 5px;
        }
      }
    }
    .left-part, .right-part {
      width: 130px;
    }
    .header-wishlist {
      margin-right: 35px;
    }
    .search-form-wrap {
      margin-right: 35px;
    }
  }

  .banners-below-nav-wrapper {
    flex-wrap: wrap;
    height: 43px;
    .col-3 {
      width: calc( 100% - 70px );
      border-right: 0;
      height: 39px;
      border-bottom: 1px solid #C3C3C3;
      &:last-child {
        border-bottom: 0 !important;
      }
    }
    .icon-arrow {
      display: inline-block;
    }
  }
  footer {
    .accordion-item {
      width: 25% !important;
    }
    .footer-navigation-wrapper {
      flex-wrap: wrap;
    }
    .subscribe-form {
      width: 100%;
    }
  }
  .account-login-wrapper {
    .form-row {
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    .remember-me {
      width: 100%;
      label {
        justify-content: flex-end;
      }
    }
    .password-reset-wrapper {
      margin: 4px 0 8px;
    }
  }
}