@media (max-width: 480px) {
  header {
    .logo {
      width: auto;
      height: 20px;
      margin-top: 5px;
    }
    .header-wishlist {
      margin-right: 20px;
    }
    .right-part {
      justify-content: flex-end;
    }
  }
  .blog-posts {
    .post-list {
      .post-tile {
        width: 100%;
      }
    }
  }
  footer {
    .accordion-item {
      width: 100% !important;
      padding: 0;
      margin-bottom: 5px;
      &.opened {
        h5 {
          &:after {
            content: '';
            font-family: icons!important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
    .vertical-menu {
      display: none;
    }
    .payment {
      display: none;
    }
    .social-wrap {
      text-align: center;
    }
    h5 {
      margin: 0 0 0 0;
      height: 35px;
      display: flex;
      width: 100%;
      align-items: center;
      padding-right: 20px;
      position: relative;
      &:after {
        content: "";
        font-family: icons!important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .newsletter-form-btn {
      width: 120px;
    }
    .vertical-menu {
      margin-top: 10px;
      li {
        padding-left: 15px;
        a {
          font-size: 15px;
        }
      }
    }
    .subscribe-form {
      h5 {
        margin-bottom: 8px;
        &:after {
          display: none;
        }
      }
    }
  }
  .basket-wrapper {
    .basket-form {
      .price-total-wrap {
        .price-total {
          position: static;
          margin-bottom: 10px;
          display: block;
          padding-left: 15px;
        }
      }
      .button-remove {
        bottom: 11px;
      }
    }
    .cart-footer {
      padding: 15px 15px 15px 15px;
      .cart-delivery-information {
        width: 100%;
      }
      .cart-actions-inner {
        flex-direction: column;
        .button-fancy-large {
          width: 100%;
        }
      }
      .continue-shopping {
        margin-bottom: 15px;
      }
      .delivery-info {
        td {
          padding: 5px 0px;
        }
      }
    }
  }
  .primary-content .search-result-content .grid-tile
}